<div fxLayout="column wrap" style="margin: 20px;">
  <div fxLayout="row wrap" fxLayoutGap="10px" class="aRow">
    <div fxLayout="column wrap">
      <div class="titles">
        <h2>
          Card
        </h2>
      </div>
      <div class="card">
        <div class="titles">
          <h2>
           1. African National Congress
          </h2>
          <h4>
            1230000
          </h4>
        </div>
        <div class="titles">
          <h2>
           2. Demotratic Alliance
          </h2>
          <h4>
            1230000
          </h4>
        </div>

      </div>
      <div class="card2">
        <div class="titles">
          <h2>
           1. African National Congress
          </h2>
          <h4>
            1230000
          </h4>
        </div>
        <div class="titles">
          <h2>
           2. Demotratic Alliance
          </h2>
          <h4>
            1230000
          </h4>
        </div>

      </div>
      <div class="card">
        <div class="titles">
          <h2>
            African National Congress
          </h2>
          <h4>
            1230000
          </h4>
        </div>

      </div>

    </div>

    <div fxLayout="column wrap">
      <div class="titles">
        <h2>
          Buttons
        </h2>
      </div>
      <div>
        <section>
          <div class="example-label">Raised</div>
          <div class="example-button-row">
            <button class="greenBtn" mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button class="secondaryBtn" mat-button>Accent</button>
            <button class="redBtn" mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
          </div>
        </section>
      </div>
    </div>
    <div fxLayout="column wrap">
        <div class="aRow searchBar">
          <input placeholder="Search">
          <mat-icon>search</mat-icon>
        </div>
    </div>
  </div>

</div>
