<div fxLayout="column">
  <div>
    <mat-toolbar fxLayoutAlign="space-between center">
      <div>
        <h1>General Elction Results</h1>
      </div>
      <div class="yearSelector" (click)="chooseDate()">
        <p>{{currentYear}}</p>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
    </mat-toolbar>
  </div>
  <div fxLayout="row wrap" fxLayout.fxFlex.lt-fxFlex.lt-sm="column" fxLayoutGap.fxFlex.lt-sm="0px">
    <div fxLayout="column wrap" fxFlex.lt-sm="100" fxFill>
      <div>
        <h2>Top Three</h2>
        <mat-tab-group>
          <mat-tab label="Top Three">

            <div class="card" ngClass.lt-sm="cardMobile">
              <div *ngIf="api.topThree.length == 0">
                <p style="text-align: center;">Fetching Data...</p>
              </div>
              <div class="titles" *ngFor="let party of api.topThree; let i = index">
                <h3>
                  {{i + 1 }}. {{party['name']}}
                </h3>
                <h4>
                  {{party['data']}}
                </h4>
              </div>
            </div>

          </mat-tab>

          <mat-tab label="Vote Statistics">

          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div fxLayout="column wrap" fxFlex.lt-sm="100">
      <div>
        <h2>All Parties</h2>
      </div>
      <div fxLayout="column wrap">
        <div class="aRow searchBar" fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <input placeholder="Filter Parties" (keyup)="applyFilter($event)">
          </div>
          <div>
            <mat-icon>search</mat-icon>
          </div>
        </div>

        <div class="partyList" *ngIf="api.parties">

          <table mat-table [dataSource]="api.parties" matSort (matSortChange)="sortData($event)">
            <tr mat-header-row *matHeaderRowDef="headersToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: headersToDisplay"></tr>

            <ng-container matColumnDef="NameOfParty">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let party"> {{party.id}} </td>
            </ng-container>

            <ng-container matColumnDef="Number of Votes">
              <th mat-header-cell *matHeaderCellDef> Number of votes </th>
              <td mat-cell *matCellDef="let party"> {{party.data | number:'1.0':'en-US' }} </td>
            </ng-container>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter</td>
            </tr>

          </table>

          <!-- <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator> -->
        </div>
      </div>
    </div>
  </div>




</div>